<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>500586946614-0irscohmlv6ocmvrac4395l67sh0907c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.500586946614-0irscohmlv6ocmvrac4395l67sh0907c</string>
	<key>API_KEY</key>
	<string>AIzaSyDEwwKcCA-feUQIs2SYwmKBfBZXjkJ3y8U</string>
	<key>GCM_SENDER_ID</key>
	<string>500586946614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tv.anilibria.anilibria</string>
	<key>PROJECT_ID</key>
	<string>anilibria-app</string>
	<key>STORAGE_BUCKET</key>
	<string>anilibria-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:500586946614:ios:d8a67e1873f345e5</string>
	<key>DATABASE_URL</key>
	<string>https://anilibria-app.firebaseio.com</string>
</dict>
</plist>